img {
  width: 100%;
}

.coments_ul {
  width: 100%;
  max-width: 900px;
  /* background-color: #ffd606; */
  margin: 1rem auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.coments_ul li {
  width: 97%;
  /* height: 550px; */
  margin: 0 auto;
  border-top: 4px solid var(--bg1);
  padding: 1rem;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.coments_ul img {
  object-fit: contain;
  width: 100%;
  height: 80%;
  max-height: 550px;
}

.coments_ul li p {
  background-color: var(--bg3);
  border-radius: 5px;
  width: 100%;
  height: 20%;

  padding: 10px 20px;
  border-top: 2px solid var(--bg1);
}

/* .upload-container > input {
  display: none;
}

.upload-button {
  cursor: pointer;
  width: 200px;
  border-radius: 8px;
  height: 60px;
  background-color: green;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
} */

.form {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 5px 0;

  padding: 10px 10px;
  background-color: var(--bg1);
}

.form textarea {
  width: 300px;
  height: 50px;
  background-color: var(--bg1);
  color: var(--bg4);
  border-radius: 5px;
  padding: 3px 8px;
}

.file_input {
  background-color: blueviolet;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;
  min-width: 115px;
}

#file-input {
  display: none;
}

@media screen and (max-width: 480px) {
  .form {
    flex-wrap: wrap;
  }
}
