* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg1: #252422;
  --bg2: #403d39;
  --bg3: #ccc5b9;
  --bg4: #fffcf2;

  --boton1: #eb5e28;
  --boton2: #fca311;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

body {
  min-height: 100vh;
  background-color: var(--bg2);
}
